<storyface-header></storyface-header>
<div class="container">
	<h1>
		{{ 'information' | translate}}
	</h1>
	<div class="row mb-0" ng-if="!$ctrl.lang || $ctrl.lang=='fr'">
        <p class="col-12">
            "StoryFace" est une création numérique en ligne qui s’appuie sur la captation et la reconnaissance des émotions faciales.
				 <br />L’utilisateur arrive sur un site de rencontre. On lui propose d’afficher, face à la webcam, l’émotion qui lui semble le caractériser le mieux. Lui sont alors proposés des profils de partenaires. Il peut en choisir un et échanger avec le partenaire fictif. L’attention de l’utilisateur va alors se porter sur le contenu des messages. Cependant, le visage de l’utilisateur continue d’être « traqué ».
				 <br />Est mise en évidence ici la tendance des dispositifs de reconnaissance des émotions à normaliser celles-ci. Qu’attend le dispositif comme émotion ? On glisse de la mesure des émotions à la fabrique, la normalisation et la standardisation des émotions.
				<br />
	        	Si vous voulez contribuer et créer des profils : <a target="_blank" href="https://bouchard.pers.utc.fr/storyface/fr/login">bouchard.pers.utc.fr/storyface/fr/login</a>

        </p>
	</div>
	<div class="row mb-0" ng-if="!$ctrl.lang || $ctrl.lang=='en'">
        <p class="col-12">
        	<i>"StoryFace" is a digital fiction based on the capture and recognition of facial emotions.
			<br />The user logs onto a dating website. He/she is asked to display, in front of the webcam, the emotion that seems to characterize him/her the best. After this the website proposes profiles of partners. The user can choose one and exchange with a fictional partner. The user is now expected to focus on the content of messages. However, the user's facial expressions continue to be tracked and analyzed…
			<br />What is highlighted here is the tendency of emotion recognition devices to normalize emotions. Which emotion does the device expect? We go from the measurement of emotions to the standardization of emotions.
			<br />
			If you want to contribute and edit profiles: <a target="_blank" href="https://bouchard.pers.utc.fr/storyface/fr/login">bouchard.pers.utc.fr/storyface/fr/login</a>

		</p>
        </i>


	</div>
	<h1>
		{{ 'privacy' | translate}}
	</h1>
	<div class="row mb-0" ng-if="!$ctrl.lang || $ctrl.lang=='fr'">
        <p class="col-12">
						Cette application ne stocke aucune information sur les utilisateurs qui ne créent pas de compte.
            <br>Elle stocke uniquement les informations suivantes sur les utilisateurs qui créent un compte :
						<ul>
							<li>Nom d'utilisateur</li>
							<li>Condensat du mot de passe</li>
							<li>Liste des profils écrits</li>
							<li>Nom, prénom et adresse mail tels que renseignés dans le formulaire d'inscription</li>
						</ul>
				</p>
				<p class="col-12">
					Ces informations sont conservées afin de pouvoir attribuer les personnages à leurs auteurs et de pouvoir contacter les auteurs, par exemple si une légère modification d'un profil est nécessaire avant de pouvoir le publier. Elles ne sont pas communiquées à des tiers.
        </p class="col-12">
	</div>
	<div class="row mb-0" ng-if="!$ctrl.lang || $ctrl.lang=='en'">
		<p class="col-12">
				This application does not store any data about users who do not create an account.
				<br>It only stores the following information about users who create an account :
				<ul>
					<li>Username</li>
					<li>Password hash</li>
					<li>List of profiles written</li>
					<li>Name, Surname and email address as provided in the signup form</li>
				</ul>
		</p>
		<p class="col-12">
		This information is stored so as to be able to attribute characters to their authors and to be able to contact chararacters' authors,  for example if a modification to a profile is needed before publishing it. It is not shared with third parties.
		</p class="col-12">
	</div>

	<h1>
		{{ 'license' | translate }}
	</h1>
	<div class="row mb-0" ng-if="!$ctrl.lang || $ctrl.lang=='fr'">
		<p class="col-12">
			<br>Cette oeuvre est sous licence  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		</p>
	</div>
	<div class="row mb-0" ng-if="!$ctrl.lang || $ctrl.lang=='en'">
		<p class="col-12">
			<br>This work is licensed under a  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		</p>
	</div>

	<h1>
		{{ 'credits' | translate}}
	</h1>
	<div class="row mb-0" ng-if="!$ctrl.lang || $ctrl.lang=='fr'">
		<p class="col-12">
			Merci aux équipes de <a href="http://visagetechnologies.com/">Visage Technologies</a> sans lesquelles nous n'aurions pas pu capter les émotions des visages de manière aussi précise.
		<br />Merci à toutes les personnes qui se sont investies dans ce projet.
		<br />Idée originale : <a href="http://www.utc.fr/~bouchard/" target = "_blank">Serge Bouchardon</a>
		<br />Conception et Scénarisation : <a href="http://www.utc.fr/~bouchard/" target = "_blank">Serge Bouchardon</a>, <a href="https://www.linkedin.com/in/franck-davoine-3419623/">Franck Davoine</a>, Alexandra Saemmer
		<br />Développement informatique :  <a class="link" target = "_blank" href="https://www.linkedin.com/in/th%C3%A9odore-bourgeon-733666116/">Théodore Bourgeon</a>, <a href="https://www.linkedin.com/in/noan-cloarec" target="blank">Noan Cloarec</a>, Axel Marbois, Antoine Schlegel, Igor Witz, Yihui Yang
		<br />Design graphique :  <a class="link" target = "_blank" href="https://www.linkedin.com/in/hugo-lechleiter-6ba0b0138/">Hugo Lechleiter</a>
		<br />Design sonore : Hervé Zénouda
		<br />Écriture des profils : Alexandra Saemmer, Luce Davoine, Christine Bry, Mathilde Bouchardon, Valérie Bouchardon, Françoise Chambefort, Lynne Forest, Stéphanie Honoré, Cindy Moreau, Manon Picard, Serge Bouchardon, Nicolas Bouchardon, Claude Moreau, Jeremy Moreau, PJ.
		<br />
		Emoji fournies gratuitement par <a href="https://www.emojione.com/" target="blank">EmojiOne</a>
		<br />Synthèse vocale : <a href="https://responsivevoice.org">ResponsiveVoice-NonCommerciale</a> sous licence <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img title="ResponsiveVoice Text To Speech" src="https://responsivevoice.org/wp-content/uploads/2014/08/95x15.png" alt="95x15" width="95" height="15" />
		</p>
	</div>

	<div class="row mb-0" ng-if="!$ctrl.lang || $ctrl.lang=='en'">
        <p class="col-12">
        <i>	Many thanks to <a href="http://visagetechnologies.com/" target = "_blank">Visage Technologies</a>, without which we would not have such precise recognition of facial emotions.
        <br />Original idea: <a href="http://www.utc.fr/~bouchard/wordpress/?page_id=134" target = "_blank">Serge Bouchardon</a>
		<br />Conception and Scenario: <a href="http://www.utc.fr/~bouchard/wordpress/?page_id=134" target = "_blank">Serge Bouchardon</a>, <a href="https://www.linkedin.com/in/franck-davoine-3419623/

">Franck Davoine</a>, Alexandra Saemmer
        <br />Development: <a class="link" target = "_blank" href="https://www.linkedin.com/in/th%C3%A9odore-bourgeon-733666116/">Théodore Bourgeon</a>, <a href="https://www.linkedin.com/in/noan-cloarec" target="blank">Noan Cloarec</a>, Axel Marbois, Antoine Schlegel, Igor Witz, Yihui Yang
        <br />Graphic Design:  <a class="link" target = "_blank" href="https://www.linkedin.com/in/hugo-lechleiter-6ba0b0138/">Hugo Lechleiter</a>
        <br />Sound Design: Hervé Zénouda
        <br />Writing of profiles: Alexandra Saemmer, Luce Davoine, Christine Bry, Mathilde Bouchardon, Valérie Bouchardon, Magali Brunel, Françoise Cahen, Françoise Chambefort, Lynne Forest, Stéphanie Honoré, Cindy Moreau, Manon Picard, Serge Bouchardon, Nicolas Bouchardon, Claude Moreau, Jeremy Moreau, PJ.
        <br />
		Emoji icons provided free by <a href="https://www.emojione.com/" target="blank">EmojiOne</a>
				<br />Speech synthesis : <a href="https://responsivevoice.org">ResponsiveVoice-NonCommercial</a> licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img title="ResponsiveVoice Text To Speech" src="https://responsivevoice.org/wp-content/uploads/2014/08/95x15.png" alt="95x15" width="95" height="15" />
        </i>
		</p class="col-12">
	</div>
	<div class="row mt-3">
        <a href="http://visagetechnologies.com/" target="_blank"><img id="visage" src="/storyface/images/visage.png" alt="Visage Technologies"/></a>
        <a href="https://www.utc.fr/" target="_blank"><img id="utc" src="/storyface/images/utc.png" alt="Université Technologique de Compiègne"/></a>
	</div>
</div>
