<storyface-header hide-title="true"></storyface-header>		
<div class="container-fluid">
	<div style="margin-top:10vh">
		<div class="row">
			<img id="storyface-title" class="col-12 col-sm-9 col-md-6  mx-auto" src="/storyface/images/storyface.png" alt="Storyface"/>
		</div>
		<div class="row">
			<img id="storyface-meet" class="col-9 col-sm-6 col-md-3  mx-auto" src="/storyface/images/meet.png" alt="Meet!"/>
		</div>
		<div class="row lang-buttons">
			<div class="col-8 col-sm-4 col-md-2 mx-auto">
				<div class="row">
					<div class="col-6 lang-button-container">
						<md-button aria-label="Français" class="md-icon-button" href="/storyface/fr/gender">
							<img src="/storyface/images/francais.png" alt="Français"/>					
						</md-button>
					</div>
					<div class="col-6 lang-button-container">
						<md-button aria-label="English" class="md-icon-button" href="/storyface/en/gender">
							<img src="/storyface/images/english.png" alt="English"/>
						</md-button></a>									
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
	</footer>
</div>

